header {
  background-image: url("Decorner/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150px;
}

nav {
  text-align: center;
  padding: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background-color: #ddd;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Custom section styles */
.section {
  padding: 30px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 20px; /* Adjusted margin-bottom value */
}

.section-content {
  text-align: center;
  margin-bottom: 80px;
}

.section-content img {
  max-width: 100%;
  height: auto;
}

.video-box {
  margin-top: 20px;
  text-align: center;
}

.video-box iframe {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Add margin between boxes */
}

.box img {
  max-width: 100%;
  height: auto;
}

/* Define the fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Move element 50px up */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move element to its original position */
  }
}

/* Apply fade-in animation to all elements */
* {
  animation: fade-in 1s ease-in-out;
}

/* Styling for the lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7); /* Semi-transparent black background */
}

.lightbox-content {
  display: block;
  margin: 10% auto;
  width: 80%;
  max-width: 800px;
}

.lightbox-img {
  width: 100%;
  height: auto;
}

/* Styling for the close button */
.close-btn {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Styling for product images */
.product-img {
  cursor: pointer; /* Change cursor to hand-click icon */
}

/* Footer Styles */
.footer {
  background-color: #ddd;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Floating Box Styles */
.floating-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; /* Initially hide the box */
}
/* Close Button Styles */
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

/* Style for the hidden content */
.hidden-content {
  display: none;
}

